.button {
  outline: none;
}

.buttonA {
  background-color: #46139f !important;
}

.buttonB {
  background-color: #ff7f50 !important;
}

.buttonC {
  background: white !important;
  border: 1px solid#46139f !important;
  color: #000000 !important;
}